:root {
    --Red: hsl(0, 98%, 49%);
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(0, 0%, 98%);
    --Drak-graylish-violet: hsl(0, 2%, 65%);
    --Very-dark-violet: hsl(0, 33%, 1%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.hidden {
    display: none !important;
}

.error {
    border: 2px solid var(--Red);
}

.error_message {
    gap: 0;
}

.error_message::after {
    content: "can't be blank";
    color: var(--Red);
    margin-top: .2rem;
}

.container {
    display: flex;
    align-items: center;
}

.left_section {
    background: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    width: 40%;
    position: relative;
}

.cards {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    left: 100%;
    transform: translate(-50%,-50%);
}

.front_card {
    position: relative;
    transform: translateX(-100px);
}

.card_logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#number {
    position: absolute;
    color: var(--White);
    bottom: 5rem;
    left: 1rem;
    letter-spacing: 2px;
}

.info {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    right: 3rem;
    display: flex;
    justify-content: space-between;
    color: var(--White);
    text-transform: uppercase;
}

.back_card {
    position: relative;
}

#cvc {
    position: absolute;
    right: 3.5rem;
    top: 7rem;
    color: var(--Light-grayish-violet);
}

.right_section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.right_section form {
    display: grid;
    gap: 1rem;
    width: 350px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
}

label {
    color: var(--Very-dark-violet);
    margin-bottom: .3rem;
    text-transform: uppercase;
}
input {
    padding: .5rem;
    font-size: 18px;
    border: 1px solid  var(--Drak-graylish-violet);
    border-radius: 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::placeholder {
    font-family: inherit;
    color: var(--Drak-graylish-violet);
}

input:focus {
    outline-color: hs1(249,99%,64%);
}

.grid1 {
    display: flex;
    flex-direction: column;
    grid-column: 2 span;
}

.grid2 {
    display: flex;
    flex-direction: column;
    grid-column: 2 span;
}

.grid3 {
    display: flex;
    flex-direction: column;
}

.grid4{
    display: flex;
    flex-direction: column;
    grid-column: 1 span;
}

.card_information {
    display: flex;
    grid-column: 2 span;
    gap: 1rem;
}

#card_date {
    display: flex;
    flex-direction: column;
    grid-column: 1 span;
}

#card_date .two_inp {
    display: flex;
}

.two_inp div {
    flex-direction: column;
}

#card_date div input {
    width: 70px;
    margin-inline: .5rem;
    margin-left: 0;
}

#card_cvc {
    width: 100%;
}

form button {
    grid-column: 2 span;
    font-size: 18px;
    height: 50px;
    color: var(--White);
    border-radius: 6px;
    background-color: var(--Very-dark-violet);
    cursor: pointer;
}

.thank {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.thank h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.thank p {
    font-size: 1.025rem;
    color: var(--Drak-graylish-violet);
}

.thank button {
    color: var(--White);
    width: 100%;
    border-radius: 6px;
    padding: 1rem;
    font-size: 1.025rem;
    background-color: var(--Very-dark-violet);
    cursor: pointer;
}

@media screen and (max-width: 1023px) {
    .front_card
    .front_card img
    .back_card
    .back_card img {
       width: 300px; 
    }
    
    .card_container
    .card_logo {
        width: 50px;
    }
    #number {
        font-size: 1.1rem;
    }
    #cvc {
        top: 42%;
        right: 12%;
    }
}
@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    .front_card,
    .front_card img,
    .back_card,
    .back_card img {
        width: 280px;
    }

    .left_section {
        width: 100%;
        min-height: 38vh;
        background-image: url(images/bg-main-mobile.png);
    }

    .cards {
        flex-direction: column-reverse;
        left: 61%;
        top: 60%;
        gap: 0;
    }

    .back_card {
        transform: translateY(70px);
    }

    .front_card {
        z-index: 100;
    }

    .right_section {
        margin-top: 6rem;
    }
}